{% extends 'app/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid bg-dark text-white ">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-4">
            {% if message %}
              <div role='alert' class="alert alert-warning">{{message}}</div>
            {% endif %}
            <form method="POST" action="{% url 'login_user' %}" class="bg-black p-5 border rounded-5">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-dark mt-2 px-5">Login</button>
              </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}