{% extends 'app/base.html' %}
{% load static%}

{% block style %}<link rel="stylesheet" href="{% static 'app/auth_style.css' %}">{% endblock %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container-fluid text-white ">
    <div class="row justify-content-center">
        <div class="col-sm-6 mt-5">
            <form method="POST" class="py-3 px-4 border rounded-3 mt-5">
                <h4 class="text-center mb-3">Register new account</h4>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn mt-2 px-5">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}