{% extends 'app/base.html' %}

{% block title %}Chat{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-black show" id="collapseSidePanel">
            <a class="m-2 btn bg-secondary" data-bs-toggle="collapse" href="#collapseSidePanel" role="button"
                aria-expanded="true" aria-controls="collapseSidePanel">Hide</a>
        </div>
        <div class="col bg-dark vh-100">
            <a class="m-2 btn bg-dark text-white collapse" id="collapseSidePanel" data-bs-toggle="collapse"
                href="#collapseSidePanel" role="button" aria-expanded="false" aria-controls="collapseSidePanel">Show</a>
            <div class="container mt-5">
                <div class="row text-white">
                    <div id="chat-container" class="col-md-6 mx-auto">
                        <div class="message assistant-message">
                            Hi there! How can I assist you today?
                        </div>
                        <div class="message user-message">
                            Hello! I have a question.
                        </div>
                        <!-- Add more messages here -->
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 mx-auto">
                        <form id="message-form">
                            <div class="input-group">
                                {% csrf_token %}
                                <input id= "message_textbox", name="message-textbox" type="text" class="form-control" placeholder="Type your message...">
                                <button type='submit' class="btn btn-success">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + 'chat'
    )

    let message_form = document.getElementById('message-form')

    message_form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message_textbox.value
        console.log(message)
        chatSocket.send(JSON.stringify({
            'message': message,
        }))
        message_form.reset()
    })
    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data)
        console.log('Recived data:', data)
        if(data.type === 'user_message'){
            let chat = document.getElementById('chat-container')
            // let user_message = '<div class="message user-message">${data.user_message}</div>'
            chat.insertAdjacentHTML('beforeend', '<div class="message user-message">'
                + data.user_message
                + '</div>'
                )
        }
    }
    chatSocket.onclose = function(e){
        console.log('Fuck you! I am disconneting.')
    }
    

    // $(document).on('submit', '#post-form', function(e){
    //     e.preventDefault();

    //     $.ajax({
    //         type: 'POST',
    //         url: 'chat/send_message',
    //         data:{
    //             message: $('#message_textbox').val(),
    //             csrfmiddlewaretoken: '{{ csrf_token }}'
    //         },
    //         success: function(data){
    //             alert(data)
    //         }
    //     });
    //     document.getElementById('message_textbox')
    // })
</script>
{% endblock %}